Repository falsepopsky/vagabond-hiatus-chart, changes with the labels that .github/labeler.yml gives for each.
All labels: new morning issue, documentation, enhancement, styles

.github/labeler.yml:

"new morning issue":
  - "moon/src/components/**/db.js"
  - "sun/src/db/*.ts"
documentation:
  - "docs/**/*"
enhancement:
  - any:
      [
        "**/src/components/**/*.{jsx,tsx}",
        "!**/src/components/**/styles.{jsx,tsx}",
      ]
styles:
  - "**/src/components/**/styles.{jsx,tsx}"

deps: bump latest
  moon/.prettierignore
  moon/package.json
  sun/.prettierignore
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

fix: don't repeat IDs, use group for same styles.
  sun/src/components/chaptersperyear/svg.tsx
  sun/src/components/heatmap/svg.tsx
  sun/src/components/hero/svg.tsx
  sun/src/components/information/svg.tsx
Labels: enhancement

fix(styles): theme, max-w
  sun/src/components/footer/styles.tsx
  sun/src/components/head/index.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/hero/index.tsx
  sun/src/components/hero/styles.tsx
  sun/src/components/styled/index.tsx
Labels: enhancement, styles

chore: update configs
  .editorconfig
  .vscode/settings.json
  moon/package.json
  sun/.eslintignore
  sun/.eslintrc.json
  sun/.prettierignore
Labels: none

deps: update to latest
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

chore: update paths
  sun/src/components/chaptersperyear/index.tsx
  sun/src/components/footer/index.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/treemap/index.tsx
  sun/src/pages/_app.tsx
  sun/src/pages/about.tsx
  sun/src/pages/index.tsx
  sun/tsconfig.json
Labels: enhancement

chore: ignore next-env.d.ts
  .gitignore
  sun/next-env.d.ts
Labels: none

fix: use dynamic import for nivo chart
  sun/package.json
  sun/pnpm-lock.yaml
  sun/src/components/heatmap/index.tsx
Labels: enhancement

docs: update path
  README.md
Labels: none

fix: use the new prefix $ for sc
  sun/src/components/chaptersperyear/index.tsx
  sun/src/components/contact/index.tsx
  sun/src/components/footer/index.tsx
  sun/src/components/footer/styles.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/heatmap/index.tsx
  sun/src/components/heatmap/styles.tsx
  sun/src/components/hero/index.tsx
  sun/src/components/hero/styles.tsx
  sun/src/components/information/index.tsx
  sun/src/components/link/index.tsx
  sun/src/components/styled/globalStyle.tsx
  sun/src/components/styled/index.tsx
  sun/src/components/thanks/index.tsx
  sun/src/components/treemap/index.tsx
  sun/src/pages/about.tsx
Labels: enhancement, styles

feat: update db
  sun/src/db/index.ts
Labels: new morning issue

chore: update changelog
  docs/CHANGELOG.md
Labels: documentation

fix add missing year in category
  sun/src/db/index.ts
Labels: new morning issue

feat: migrate footer
  sun/src/components/footer/index.tsx
  sun/src/components/footer/science.tsx
  sun/src/components/footer/styles.tsx
Labels: enhancement, styles

feat: add tailwind
  .vscode/extensions.json
  .vscode/settings.json
  sun/.prettierrc
  sun/package.json
  sun/pnpm-lock.yaml
  sun/postcss.config.js
  sun/src/styles/globals.css
  sun/tailwind.config.js
Labels: none

fix: pluginSearchDirs removed in 3.0
  sun/.prettierrc
Labels: none
