Repository falsepopsky/vagabond-hiatus-chart, changes with the labels that .github/labeler.yml gives for each.
All labels: new morning issue, documentation, enhancement, styles

.github/labeler.yml:

"new morning issue":
  - "apps/moon/src/components/**/db.js"
  - "apps/sun/app/components/Chapterpy.tsx"
  - "apps/sun/app/components/Heatmap.tsx"
documentation:
  - "docs/**"
  - "README.md"
enhancement:
  - "apps/sun/app/components/**"
styles:
  - "apps/sun/app/globals.css"

chore: update git ignore
  .gitignore
Labels: none

chore: prefer yaml files
  .github/labeler.yaml
  .github/workflows/label.yaml
Labels: none

chore: update yaml format
  .prettierrc
Labels: none

chore: format files
  apps/moon/src/components/footer/Footer.jsx
  apps/moon/src/components/heatmap/hiatusHeatmapConfig.js
  apps/moon/src/components/hero/Hero.jsx
  apps/moon/src/components/svg/Svgs.jsx
  apps/moon/src/pages/About.jsx
Labels: none

fix: use Viewport API for colorScheme
  apps/sun/app/layout.tsx
Labels: none

fix: update theme obj
  apps/sun/app/components/Heatmap.tsx
Labels: new morning issue, enhancement

chore: update build script
  package.json
Labels: none

db: update morning weekly to #53
  apps/sun/app/components/Chapterpy.tsx
  apps/sun/app/components/Heatmap.tsx
Labels: new morning issue, enhancement

docs: update changelog
  README.md
  docs/CHANGELOG.md
Labels: documentation
