Repository falsepopsky/vagabond-hiatus-chart, changes with the labels that .github/labeler.yml gives for each.
All labels: new morning issue, documentation, enhancement, styles

.github/labeler.yml:

'new morning issue':
  - 'moon/src/components/**/db.js'
documentation:
  - 'docs/**/*'
enhancement:
  - any:
      [
        '**/src/components/**/*.{jsx,tsx}',
        '!**/src/components/**/styles.{jsx,tsx}',
      ]
styles:
  - '**/src/components/**/styles.{jsx,tsx}'

fix(moon): remove dup styles, fix readme
  README.md
  moon/.prettierignore
  moon/README.md
  moon/src/App.js
  moon/src/components/footer/styles.jsx
  moon/src/components/loading/Loading.jsx
  moon/src/components/loading/styles.jsx
  moon/src/components/styled/globalUI.jsx
  moon/src/components/svg/Svgs.jsx
  moon/src/pages/NoMatch.jsx
  moon/src/pages/noMatchSC.js
Labels: enhancement, styles

styles: fixed display in info component
  README.md
  docs/CHANGELOG.md
  sun/next.config.js
  sun/package-lock.json
  sun/package.json
  sun/src/components/chaptersperyear/index.tsx
  sun/src/components/information/index.tsx
  sun/src/components/information/styles.tsx
  sun/src/components/styled/index.tsx
  sun/src/components/svgs/vectors.tsx
  sun/src/components/treemap/index.tsx
  sun/src/db/index.ts
  sun/tsconfig.json
Labels: documentation, enhancement, styles

Updates
  asset-manifest.json
  index.html
  static/css/main.4b7ee7b1.css
  static/css/main.4b7ee7b1.css.map
  static/css/main.bce8331a.css
  static/css/main.bce8331a.css.map
  static/js/105.1d22d6b1.chunk.js
  static/js/105.1d22d6b1.chunk.js.map
  static/js/16.e6a1a253.chunk.js
  static/js/16.e6a1a253.chunk.js.map
  static/js/213.83a8bf90.chunk.js
  static/js/213.83a8bf90.chunk.js.map
  static/js/5.f4b0c1b0.chunk.js
  static/js/5.f4b0c1b0.chunk.js.map
  static/js/533.62b78670.chunk.js
  static/js/533.62b78670.chunk.js.map
  static/js/533.6753da94.chunk.js
  static/js/533.6753da94.chunk.js.map
  static/js/58.f9bbb046.chunk.js
  static/js/58.f9bbb046.chunk.js.LICENSE.txt
  static/js/58.f9bbb046.chunk.js.map
  static/js/673.1e34a08f.chunk.js
  static/js/673.1e34a08f.chunk.js.map
  static/js/676.9444e836.chunk.js
  static/js/676.9444e836.chunk.js.map
  static/js/719.aa0910a8.chunk.js
  static/js/719.aa0910a8.chunk.js.map
  static/js/737.f7eaec2f.chunk.js
  static/js/737.f7eaec2f.chunk.js.map
  static/js/790.7dd79f7f.chunk.js
  static/js/790.7dd79f7f.chunk.js.map
  static/js/main.3632a17f.js
  static/js/main.3632a17f.js.map
  static/js/main.c4f1665a.js
  static/js/main.c4f1665a.js.LICENSE.txt
  static/js/main.c4f1665a.js.map
Labels: none

ci(vercel): ignore gh-pages build
  vercel.sh
Labels: none

fix: vercel bash
  vercel.sh
Labels: none

remove: vercel bash
  vercel.sh
Labels: none

db: fix year 2009 data, add arc db.
  moon/src/components/heatmap/db.js
  sun/src/components/heatmap/index.tsx
  sun/src/db/index.ts
Labels: new morning issue, enhancement

fix: eslint, chapters(info), db
  sun/.eslintrc.json
  sun/src/components/heatmap/index.tsx
  sun/src/components/information/index.tsx
  sun/src/db/index.ts
Labels: enhancement

styles: change font family, add accessibility
  moon/src/components/heatmap/HiatusLegendChapter.jsx
  moon/src/components/loading/Loading.jsx
  sun/src/components/chaptersperyear/svg.tsx
  sun/src/components/footer/science.tsx
  sun/src/components/footer/styles.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/heatmap/svg.tsx
  sun/src/components/hero/styles.tsx
  sun/src/components/hero/svg.tsx
  sun/src/components/information/styles.tsx
  sun/src/components/information/svg.tsx
  sun/src/components/link/index.tsx
  sun/src/components/styled/globalStyle.tsx
  sun/src/components/styled/index.tsx
  sun/src/components/thanks/index.tsx
  sun/src/components/treemap/svg.tsx
  sun/src/db/index.ts
  sun/src/pages/_document.tsx
Labels: enhancement, styles

fix: add dynamic ssr import only on chart
  sun/.prettierignore
  sun/src/components/apexchart/index.tsx
  sun/src/components/chaptersperyear/index.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/heatmap/index.tsx
  sun/src/components/hero/styles.tsx
  sun/src/components/styled/index.tsx
  sun/src/components/treemap/index.tsx
  sun/src/pages/index.tsx
Labels: enhancement, styles

project: fix and update db, styles
  moon/src/components/chapters-per-arc/ChaptersPerArc.jsx
  moon/src/components/chapters-per-arc/Treemap.jsx
  moon/src/components/chapters-per-arc/db.js
  moon/src/components/chapters-per-year/ChaptersPerYear.jsx
  moon/src/components/chapters-per-year/Line.jsx
  moon/src/components/chapters-per-year/cpyNivoConfig.js
  moon/src/components/chapters-per-year/db.js
  moon/src/components/heatmap/db.js
  moon/src/components/heatmap/styles.jsx
  moon/src/components/social/Social.jsx
  sun/src/components/footer/styles.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/heatmap/index.tsx
  sun/src/components/heatmap/styles.tsx
  sun/src/components/heatmap/svg.tsx
  sun/src/components/hero/styles.tsx
  sun/src/components/information/styles.tsx
  sun/src/components/styled/globalStyle.tsx
  sun/src/components/styled/index.tsx
  sun/src/components/svgs/vectors.tsx
  sun/src/db/index.ts
Labels: new morning issue, enhancement, styles

Updates
  asset-manifest.json
  index.html
  static/js/16.e6a1a253.chunk.js
  static/js/16.e6a1a253.chunk.js.map
  static/js/261.eb9b703d.chunk.js
  static/js/261.eb9b703d.chunk.js.map
  static/js/5.f4b0c1b0.chunk.js
  static/js/5.f4b0c1b0.chunk.js.map
  static/js/5.fafacdc4.chunk.js
  static/js/5.fafacdc4.chunk.js.map
  static/js/58.f9bbb046.chunk.js.map
  static/js/737.f7eaec2f.chunk.js
  static/js/737.f7eaec2f.chunk.js.map
  static/js/935.f4432c25.chunk.js
  static/js/935.f4432c25.chunk.js.map
  static/js/main.73079475.js
  static/js/main.73079475.js.LICENSE.txt
  static/js/main.73079475.js.map
  static/js/main.c4f1665a.js
  static/js/main.c4f1665a.js.map
Labels: none

chore: change pkg manager and heatmap dep, update db
  .github/workflows/node.js.yml
  README.md
  moon/src/components/chapters-per-year/db.js
  moon/src/components/heatmap/HiatusHeatmap.jsx
  moon/src/components/heatmap/HiatusLegendChapter.jsx
  moon/src/components/heatmap/Legend.jsx
  moon/src/components/heatmap/db.js
  moon/src/components/heatmap/hiatusHeatmapConfig.js
  moon/src/components/heatmap/styles.jsx
  moon/src/components/svg/Svgs.jsx
  sun/.npmrc
  sun/.prettierignore
  sun/package-lock.json
  sun/package.json
  sun/pnpm-lock.yaml
  sun/src/components/apexchart/chart.tsx
  sun/src/components/apexchart/index.tsx
  sun/src/components/chaptersperyear/index.tsx
  sun/src/components/head/index.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/styled/globalStyle.tsx
  sun/src/components/treemap/index.tsx
  sun/src/db/index.ts
Labels: new morning issue, enhancement, styles

chore: add redirect, remove node ci
  .editorconfig
  .github/workflows/node.js.yml
  .gitignore
  README.md
  moon/public/index.html
  sun/.npmrc
  sun/package.json
  sun/pnpm-lock.yaml
  sun/src/components/heatmap/chart.tsx
  sun/src/components/heatmap/styles.tsx
Labels: enhancement, styles

feat: add legends for heatmap (beta)
  README.md
  docs/MOON.md
  docs/SUN.md
  moon/README.md
  sun/package.json
  sun/pnpm-lock.yaml
  sun/src/components/footer/index.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/link/index.tsx
  sun/src/components/styled/globalStyle.tsx
Labels: documentation, enhancement

fix(styles): heatmap legend
  sun/src/components/heatmap/chart.tsx
  sun/src/components/heatmap/styles.tsx
Labels: enhancement, styles

Updates
  index.html
Labels: none

(db): update at magazine #50
  sun/src/db/index.ts
Labels: none

chore: update changelog
  README.md
  docs/CHANGELOG.md
Labels: documentation

fix(styles): remove inline style
  sun/src/components/heatmap/chart.tsx
  sun/src/components/heatmap/styles.tsx
Labels: enhancement, styles
