Repository falsepopsky/vagabond-hiatus-chart, changes with the labels that .github/labeler.yml gives for each.
All labels: new morning issue, documentation, enhancement, styles

.github/labeler.yml:

"new morning issue":
  - "moon/src/components/**/db.js"
  - "sun/src/db/*.ts"
documentation:
  - "docs/*.md"
  - "README.md"
enhancement:
  - any:
      [
        "**/src/components/**/*.{jsx,tsx}",
        "!**/src/components/**/styles.{jsx,tsx}",
      ]
styles:
  - "**/src/components/**/styles.{jsx,tsx}"

deps: update to latest, remove sc
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

app: update configs
  sun/.eslintrc.json
  sun/app/globals.css
  sun/next.config.js
  sun/tailwind.config.js
  sun/tsconfig.json
Labels: none

docs: update sun
  docs/SUN.md
Labels: documentation

deps: update to latest
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

feat: migrate about page to app
  sun/app/about/page.tsx
  sun/src/components/contact/index.tsx
  sun/src/components/history/index.tsx
  sun/src/components/thanks/index.tsx
  sun/src/pages/about.tsx
Labels: enhancement

chore: lint only ts files
  .vscode/settings.json
Labels: none

fix: update metada
  sun/app/about/page.tsx
Labels: none

deps: update to latest
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

chore: update configs
  sun/tailwind.config.js
  sun/tailwind.config.ts
  sun/tsconfig.json
Labels: none

chore: update labeler v.
  .github/workflows/label.yml
Labels: none

feat: add layout
  sun/app/layout.tsx
Labels: none

deps: bump to latest
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

deps: bump to latest
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

feat: migrate hero and info sections
  sun/app/components/svg.tsx
  sun/app/components/titles.tsx
  sun/app/layout.tsx
  sun/app/page.tsx
  sun/src/components/footer/index.tsx
  sun/src/components/hero/index.tsx
  sun/src/components/hero/styles.tsx
  sun/src/components/information/index.tsx
  sun/src/components/information/styles.tsx
  sun/src/components/information/svg.tsx
  sun/src/components/styled/globalStyle.tsx
  sun/src/pages/_app.tsx
  sun/src/pages/_document.tsx
  sun/src/pages/index.tsx
Labels: enhancement, styles

deps: update to latest
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

chore: remove old metadata
  sun/src/components/head/index.tsx
Labels: enhancement

deps: bump to latest
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

chore: setup eslint
  sun/.eslintrc.json
Labels: none

chore: migrate to app
  sun/app/components/ApexChart.tsx
  sun/app/components/Chapterpa.tsx
  sun/app/components/Chapterpy.tsx
  sun/app/components/Heatmap.tsx
  sun/app/components/ListLegends.tsx
  sun/app/components/Svg.tsx
  sun/app/components/Titles.tsx
  sun/app/globals.css
  sun/app/page.tsx
  sun/src/components/apexchart/index.tsx
  sun/src/components/chaptersperyear/index.tsx
  sun/src/components/chaptersperyear/svg.tsx
  sun/src/components/heatmap/chart.tsx
  sun/src/components/heatmap/index.tsx
  sun/src/components/heatmap/styles.tsx
  sun/src/components/heatmap/svg.tsx
  sun/src/components/link/index.tsx
  sun/src/components/styled/index.tsx
  sun/src/components/treemap/index.tsx
  sun/src/components/treemap/svg.tsx
Labels: enhancement, styles

deps: bump to latest
  sun/package.json
  sun/pnpm-lock.yaml
Labels: none

feat: support dark and light theme
  sun/app/components/ApexChart.tsx
  sun/app/components/Chapterpy.tsx
  sun/app/components/Heatmap.tsx
  sun/app/components/NavBar.tsx
  sun/app/components/ThemeProvider.tsx
  sun/app/components/ThemeToggle.tsx
  sun/app/layout.tsx
  sun/tailwind.config.ts
Labels: none
